{% block blockimgtext %}
  <div class="container">
    <div class="block-img-text">
      <div class="block-img-text__content">
        <h3 class="block-img-text__title">Title</h3>
        <a class="block-img-text__link" href="#">Link</a>
      </div>
    </div>
    <div class="block-img-text block-img-text--image">
      <div class="block-img-text__content">
        <h3 class="block-img-text__title">Title</h3>
        <a class="block-img-text__link" href="#">Link</a>
      </div>
      <div class="block-img-text__image">
        <img src="{{img_path}}image-300x300.jpg" alt="AHIP image demo" height="262" width="262">
      </div>
    </div>
  </div>
{% endblock %}
