{% block block3col %}
  <div class="block-3col-info">
    <div class="block-3col-info__content">
      <div class="block-3col-info__left">
        <div class="block-3col-info__text">
          <span class="block-3col-info__text__big">20%</span>
          <span class="block-3col-info__text__small">of americans are covered by medicaID</span>
        </div>
      </div>
      <div class="block-3col-info__right">
        <div class="block-3col-info__text">
          <span class="block-3col-info__text__big">1 in 3</span>
          <span class="block-3col-info__text__small">children receive medicaid/chip benefits</span>
        </div>
      </div>
      <div class="block-3col-info__middle">
        <h2 class="block-3col-info__title">MedicaID is lorem ipsum sit nostrud necessitatum</h2>
        <div class="block-3col-info__body">
          <p>While Medicaid is a lifeline for its beneficiaries, it has also become a proving ground for health care innovation. Using care management and service coordination, Medicaid health plans address the mental, physical, and social needs of beneficiaries.
          Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a href="#" class="button button--full block-3col-info__button">learn more about the importance of medicaid</a>
        <div class="block-3col-info__scrolldown">
          <div class="block-3col-info__scrolldown__icon"><img src="{{img_path}}icon-down.png" alt="AHIP image demo"></div>
          <span class="block-3col-info__scrolldown__text">Lastest news &#38; resources</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
