{% block block3col %}
  <div class="block-3col-info">
    <div class="block-3col-info__image">
      <img src="{{img_path}}family_jump.jpg" alt="AHIP image demo">
    </div>
    <div class="block-3col-info__content">
      <div class="block-3col-info__left">
        <div class="block-3col-info__text">
          <span class="block-3col-info__text__big">20%</span>
          <span class="block-3col-info__text__small">Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
      <div class="block-3col-info__middle">
        <h3 class="block-3col-info__title">While Medicaid is a lifeline for its beneficiaries</h3>
        <div class="block-3col-info__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio repellendus est quasi, consequuntur, itaque temporibus! Facilis inventore hic ab vel mollitia dolore similique error odit, facere, nobis cumque, sequi? Animi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus earum ullam ratione explicabo blanditiis sequi harum, velit alias asperiores, fugit nisi. Iste iure quidem rerum, impedit fugiat vel dolores suscipit. ipsum dolor sit amet, consectetur adipisicing elit. Modi nihil maxime possimus quod eos commodi voluptatem, magnam quae dolor quos vitae </p>
        </div>
        <a href="#" class="button button--full block-3col-info__button">While Medicaid is a lifeline for its beneficiaries</a>
        <div class="block-3col-info__scrolldown">
          <div class="block-3col-info__scrolldown__icon"><img src="{{img_path}}icon-down.png" alt="AHIP image demo"></div>
          <span class="block-3col-info__scrolldown__text">Lastest news &#38; resources</span>
        </div>
      </div>
      <div class="block-3col-info__right">
        <div class="block-3col-info__text">
          <span class="block-3col-info__text__big">20%</span>
          <span class="block-3col-info__text__small">Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
