<div class="block-image-full-width block-image-full-width--has-botton">
  <div class="block-image-full-width__image"><img src="images-demo/media-grids/full-image-media.png" alt=""></div>
  <div class="block-image-full-width__content block-content-image">
    <h2 class="block-title"><a href="">About the alliance</a></h2>
    <div class="block-content-image__body">
      <p>The mission of the Modern Medicaid Alliance is to educate policymakers about how the Medicaid program is innovating in the delivery of care by solving complex problems facing more than 70 million individuals, including some of America's most vulnerable citizens.</p>
    </div>
    <a href="#" class="button">learn more about the alliance</a>
  </div>
</div>
