<div class="block-image-full-width block-image-full-width--inner">
  <div class="block-image-full-width__image"><img src="images-demo/image-demo1.png" alt=""></div>
  <div class="block-image-full-width__content block-content-image">
    <h2 class="block-title"><a href="">Lorem ipsum sit dolor necessitatum nostrud elit</a></h2>
    <div class="block-content-image__body">
      <p>Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
