<div class="container">
  <div class="boc-contact-us">
    <h2 class="boc-contact-us__title">contact us</h2>
    <div class="boc-contact-us__top">
      <div class="boc-contact-us__name">John Doehringer</div>
      <div class="boc-contact-us__number">800-123-4567</div>
    </div>
    <div class="boc-contact-us__image">
      <img src="images-demo/about_img.jpg" height="262" width="262" alt="">
    </div>
  </div>
</div>
