<div class="container">
<div class="box-organizations">
  <div class="box-organizations__list">
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations1.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations2.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations3.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations4.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations5.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations6.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations7.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations8.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations9.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations10.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations11.jpg" alt="">
      </div>
    </div>
    <div class="box-organizations__item">
      <div class="box-organizations__img">
        <img src="images-demo/organizations/organizations12.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div>
