<div class="container">
  <div class="box-sharethis-detail">
    <ul class="box-sharethis-detail__list">
      <li class="box-sharethis-detail__item">
        <a href="#" class="facebook">facebook</a>
      </li>
      <li class="box-sharethis-detail__item">
        <a href="#" class="twiter">twiter</a>
      </li>
      <li class="box-sharethis-detail__item">
        <a href="#" class="print">print</a>
      </li>
      <li class="box-sharethis-detail__item">
        <a href="#" class="massege">massege</a>
      </li>
      <li class="box-sharethis-detail__item">
        <a href="#" class="share-all">share all</a>
      </li>
    </ul>
  </div>
</div>
