<div class="container">
<div class="box-media-grid">
  <div class="box-media-grid__list">
    <div class="box-media-grid__item">
      <div class="tile-big">
        <div class="tile-big__image">
          <img src="images-demo/tile-big.jpg" alt="AHIP image demo" height="292" width="555">
        </div>
        <div class="tile-small">
          <div class="tile-small__content">
            <h3 class="tile-small__title">Title</h3>
            <a class="tile-small__link" href="#">Link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="box-media-grid__item">
      <div class="tile-small tile-small--image">
          <div class="tile-small__content">
            <h3 class="tile-small__title">Title</h3>
            <a class="tile-small__link" href="#">Link</a>
          </div>
          <div class="tile-small__image"><img src="images-demo/image-300x300.jpg" alt="AHIP image demo" height="262" width="262">
          </div>
      </div>
    </div>

    <div class="box-media-grid__item">
      <div class="tile-big">
        <div class="tile-big__image">
          <img src="images-demo/tile-big.jpg" alt="AHIP image demo" height="292" width="555">
        </div>
        <div class="tile-small">
          <div class="tile-small__content">
            <h3 class="tile-small__title">Title</h3>
            <a class="tile-small__link" href="#">Link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="box-media-grid__item">
      <div class="tile-small">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
      </div>
    </div>
    <div class="box-media-grid__item">
      <div class="tile-small tile-small--image">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
        <div class="tile-small__image">
          <img src="images-demo/image-300x300.jpg" alt="AHIP image demo" height="262" width="262">
        </div>
      </div>
    </div>
    <div class="box-media-grid__item">
      <div class="tile-small">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
      </div>
    </div>
    <div class="box-media-grid__item">
      <div class="tile-small">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
      </div>
    </div>
    <div class="box-media-grid__item">
      <div class="tile-small">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
