<div class="box-media-grid">
  <div class="container">
    <div class="box-media-grid__list">
      <div class="box-media-grid__item">
         <div class="box-grid-content big-img">
           <div class="box-grid-content__group bg--white">
             <div class="box-grid-content__infographic">infographic</div>
             <h2 class="box-grid-content__title">Learn about the value of Medicaid Managed Care</h2>
             <div class="box-grid-content__date-time">july 12, 2015 in <span class="link"><a href="">INNOVATIONS</a></span></div>
           </div>
           <div class="box-grid-content__img big-img"><img src="images-demo/media-grids/media-grid1.jpg" height="262" width="262" alt=""></div>
         </div>
      </div>
      <div class="box-media-grid__item">
        <div class="box-grid-content box-grid-content--has-icon">
          <div class="box-grid-content__img"><img src="images-demo/media-grids/media-grid3.png" height="262" width="262" alt=""></div>
          <div class="box-grid-content__group bg--white">
           <h2 class="box-grid-content__title">Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.</h2>
           <div class="box-grid-content__date-time">july 12, 2015 in <span class="link"><a href="">INNOVATIONS</a></span></div>
          </div>
        </div>
      </div>
      <div class="box-media-grid__item">
        <div class="box-grid-content box-grid-content--has-icon">
          <div class="box-grid-content__img"><img src="images-demo/media-grids/media-grid2.png" height="262" width="262" alt=""></div>
          <div class="box-grid-content__group bg--white">
           <h2 class="box-grid-content__title">Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.</h2>
           <div class="box-grid-content__date-time">july 12, 2015 in <span class="link"><a href="">INNOVATIONS</a></span></div>
           <div class="icon"><a href="#">icon</a></div>
          </div>
        </div>
      </div>
      <div class="box-media-grid__item">
        <div class="box-grid-content box-grid-content--has-icon box-grid-content--has-icon--notimg">
          <div class="box-grid-content__group  bg--white">
           <h2 class="box-grid-content__title">Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.</h2>
           <div class="box-grid-content__date-time">july 12, 2015 in <span class="link"><a href="">INNOVATIONS</a></span></div>
           <div class="icon"><a href="#">icon</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
