<div class="box-media-grid">
  <div class="container">
    <div class="box-media-grid__list">
      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'class': 'bg--mercury',
          'img_name': 'media-grids/media-grid1.jpg',
          'title': 'Learn about the value of Medicaid Managed Care',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'img_name': 'media-grids/media-grid2.png',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.',
          'subcription': 'july 12, 2015 by john doe in <a href="/" class="link">INNOVATIONS</a>'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing eclit sed do eiusmod tempor incididunt.',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>',
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing eclit sed do eiusmod tempor incididunt.',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>',
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing eclit sed do eiusmod tempor incididunt.',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>',
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'img_name': 'media-grids/media-grid2.png',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.',
          'subcription': 'july 12, 2015 by john doe in <a href="/" class="link">INNOVATIONS</a>'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'class': 'bg--mercury',
          'img_name': 'media-grids/media-grid1.jpg',
          'title': 'Learn about the value of Medicaid Managed Care',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'img_name': 'media-grids/media-grid2.png',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing elit sed do.',
          'subcription': 'july 12, 2015 by john doe in <a href="/" class="link">INNOVATIONS</a>'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing eclit sed do eiusmod tempor incididunt.',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>',
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-simple.twig" with {
          'class': 'bg--mercury',
          'title': 'Lorem ipsum dolor sit amet consectetaur adipisicing eclit sed do eiusmod tempor incididunt.',
          'subcription': 'july 12, 2015 in <a href="/" class="link">INNOVATIONS</a>',
        } %}
      </div>
    </div>
  </div>
</div>

<div class="box-media--link">
  <a href="/" class="button">Load more resources &#38; news</a>
</div>
