<div class="box-media-grid">
  <div class="container">
    <div class="box-media-grid__list">
      <div class="box-media-grid__item">
        {% include "tile-big.twig" with {
          'img_name': 'media-grids/media-grid-2.jpg',
          'title': 'Back From the Brink',
          'link_href': '/',
          'link_text': 'The story of willie gonzalez'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'img_name': 'media-grids/media-grid-4.png',
          'title': 'Charting A New Path Forward',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-big.twig" with {
          'img_name': 'media-grids/media-grid-3.jpg',
          'title': 'A Prescription For Better Health & Nutrition',
          'link_href': '/',
          'link_text': 'The story of willie gonzalez'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'title': 'Medicare To The Rescue',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'img_name': 'media-grids/media-grid-4.png',
          'title': 'Charting A New Path Forward',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'title': 'Medicare To The Rescue',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'title': 'Charting A New Path Forward',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>

      <div class="box-media-grid__item">
        {% include "tile-small.twig" with {
          'title': 'Medicare To The Rescue',
          'link_href': '/',
          'link_text': 'The story of celia bradshaw'
        } %}
      </div>
    </div>
  </div>
</div>

<div class="box-media--link">
  <a href="/" class="button">Load more Stories</a>
</div>
