{% block navigationfull %}
  <div class="navigation-full">
    <div class="container">
      <div class="branding">
        <div class="site-image">
          <a href="/">
            <img alt="AHIP" class="site-logo" src="logo.png">
          </a>
        </div>
        <p class="site-title">
          <a href="/" rel="home">AHIP</a>
        </p>
      </div>
      {% include '../layouts/navigation.twig' %}
    </div>
  </div>
{% endblock %}
