<div class="sharethis-big">
  <h2 class="block-title">spread the word</h2>
  <div class="sharethis-big__icon">
    <div class="sharethis-big__icon__item bg-blue">
      <a class="sharethis-big__icon__link" href="#">
      <span class="iconfacebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </span>
      <span class="sharethis-big__icon__link__text"> share this <br> on facebook </span>
      </a>
    </div>
    <div class="sharethis-big__icon__item bg-blue-light">
      <a class="sharethis-big__icon__link" href="#">
        <span class="icontwitter">
         <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
        <span class="sharethis-big__icon__link__text twitter-text">Share this <br> on Twitter</span>
      </a>
    </div>
  </div>
</div>
