<div class="block-subcriber">
  <h2 class="block-title">Stay Updated</h2>
  <form class="navbar-form navbar-left">
    <div class="form-group">
    <input type="text" class="form-control form-text" placeholder="{{text}}">
    </div>
    <div class="btn-search">
    <button type="submit" class="btn btn-default">{{btn_text}}</button>
    </div>
  </form>
</div>
