{% block tilebig %}
  <div class="container">
    <div class="tile-big">
      <div class="tile-big__image">
        <img src="{{img_path}}tile-big.jpg" alt="AHIP image demo" height="292" width="555">
      </div>
      <div class="tile-small">
        <div class="tile-small__content">
          <h3 class="tile-small__title">Title</h3>
          <a class="tile-small__link" href="#">Link</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
