{% block tilesmall %}
  <div class="container">
    <div class="tile-small">
      <div class="tile__content bg--blue-dark">
        <h3 class="tile__title">Medicare To The Rescue</h3>
        <a class="tile__link" href="#">The story of willie gonzalez</a>
      </div>
    </div>
    <div class="tile-small tile-small--image">
      <div class="tile__content bg--blue-dark">
        <h3 class="tile__title">Charting A New Path Forward</h3>
        <a class="tile__link" href="#">The story of celia bradshaw</a>
      </div>
      <div class="tile-small__image">
        <img src="{{img_path}}image-300x300.jpg" alt="AHIP image demo" height="262" width="262">
      </div>
    </div>
  </div>
{% endblock %}
