<div class="block-video">
  <div class="block-video__background"></div>
  <div class="block-video__content">
    <div class="block-video__image">
      <img src="{{img_path}}video_image.png" alt="AHIP image demo">
    </div>
    <div class="block-video__text">
      <h3 class="block-video__text__small">The story of moises brutus</h3>
      <h2 class="block-video__text__big">an inspirational comeback</h2>
    </div>
    <div class="block-video__player">
      <div class="block-video__icon"><span class="fa fa-play"></span></div>
      <span class="block-video__play">Play video</span>
    </div>
  </div>
</div>
