<div class="block-video">
  <div class="block-video__background">
    <video class="block-video__video">
      <source src="{{img_path}}media/video.mp4" type="video/mp4">
      <source src="{{img_path}}media/video.ogv" type="video/ogg">
      <source src="{{img_path}}media/video.webm" type="video/webm">
      Your browser doesn't support HTML5 video. Here's a <a href="#">link</a> to download the video.
    </video>
  </div>
  <div class="block-video__content">
    <div class="block-video__text">
      <h3 class="block-video__title">the story of moises brutus</h3>
      <h2 class="block-video__subtitle">an inspirational comeback</h2>
    </div>
    <div class="block-video__player">
      <span class="block-video__icon">Icon</span>
      <span class="block-video__play">Play video</span>
    </div>
  </div>
</div>
