{% set body_class = "home front" %}
{% extends '../layouts/layout.twig' %}

{% block header %}{% endblock %}

{% block content %}
  {% include '../components/video.twig' %}

  {% include '../layouts/header.twig' with {'navigation': 'navigation-full'} %}

  {% include '../components/block-3col-info.twig' %}
  <div class="region-content-box-media">
    <div class="box-media-grid-1">
      <h2 class="box-media--title">Latest resources & news</h2>
      {% include '../components/box-media-grid-1.twig' %}
      <div class="box-media--link">
        <a href="/" class="button">View more news & resources</a>
      </div>
    </div>
  </div>
  <div class="box-social">
    <div class="container">
      <div class="box-social--body">
        {% include '../components/subcriber.twig' with {'text': 'email address', 'btn_text': 'submit'} %}
        {% include '../components/sharethis-big-icon.twig' %}
      </div>
    </div>
  </div>

  {% include '../components/block-image-full-width-has-button.twig' %}
{% endblock %}

{% block footer %}
  {% include '../layouts/footer.twig' with {'has_social': ''} %}
{% endblock %}
