{% set body_class = "stories not-front" %}
{% extends '../layouts/layout.twig' %}

{% block title %}
  {% include '../components/page-title.twig' with {'page_title': 'Stories'} only %}
{% endblock %}

{% block content %}
  {% include '../components/video-stories.twig' %}

  <div class="box-filter">
    <div class="container">
      <div class="stories-select">
        <select data-placeholder="View all stories">
          <option value="all">View all stories</option>
          <option value="stories-1">Stories 1</option>
          <option value="stories-2">Stories 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="box-media__stories">
    {% include '../components/box-media-stories-filter.twig' %}
  </div>

  {% include '../components/block-image-full-width-has-button.twig' %}
{% endblock %}
