.about {
  .main-content-left {
    @media screen and (min-width: 769px) {
      float: left;
      width: 60%;
    }
  }

  .main-content-right {
    .boc-contact-us__top {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .container {
      margin: 0;
    }
    @media screen and (min-width: 769px) {
      .boc-contact-us__top {
        font-size: 18px;
        margin-bottom: 70px;
      }
      width: 40%;
      position: absolute;
      top: 75px;
      right: 0;
      padding-left: 50px;
      float: right;
    }
    @media screen and (min-width: 1366px) {
      position: relative;
      top: auto;
    }
  }
}
