$main-content-selector: '.main-content';

.page-whymedicaid {
  .main-content {
    background-image: url($image-path + 'bg-main-gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: rem(30px 0);

    p {
      margin-bottom: rem(19px);
    }

    @include susy-media(tablet) {
      padding-top: rem(71px);
      padding-bottom: rem(53px);
    }

    &-left {
      @include span(8 of 12);
    }
  }

  .block-image-full-width__content {
    @include susy-media(tablet) {
      padding-bottom: rem(27px);
    }
  }

  .box-media-grid {
    @include susy-media(tablet) {
      margin-bottom: rem(50px);
    }
  }
}
