.block-search-forom {
  .block-title {
    color: $gray-e0;
  }

  .navbar-form {
    display: flex;
    .form-group {
      width: 100%;
      padding-right: 20px;
    }

    input.form-control {
      padding: 24px 20px;
      border: 0;
      border-radius: 5px;
      width: 100%;
    }
  }
}
