.block-3col-info {
  border-bottom: 1px solid $gray-da;

  @include susy-media(tablet) {
    border-bottom: 0;
  }

  &__content {
    position: relative;

    @include susy-media(tablet) {
      display: flex;
    }
  }

  &__left,
  &__right {
    position: relative;
    background-color: $blue;
    text-align: center;
    min-height: rem(250px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include susy-media(tablet) {
      width: 25%;
      height: auto;
    }

    &:before {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      opacity: .25;
      position: absolute;
      right: 0;
      top: 0;

      @include susy-media(tablet) {
        background-position: 0 0;
      }
    }
  }

  &__left {
    &:before {
      background-image: url($image-path + 'bg-info-left.png');
    }
  }

  &__right {
    background-color: $green;

    @include susy-media(tablet) {
      order: 2;
    }

    &:before {
      background-image: url($image-path + 'bg-info-right.png');
    }
  }

  &__middle {
    background-color: $white;
    padding: rem(20px 15px);
    text-align: center;

    @include susy-media(tablet) {
      width: 50%;
      padding: rem(30px 20px);
    }

    @include susy-media(desktop) {
      padding: rem(40px 40px 30px);
    }

    @include susy-media(desktopWide) {
      padding: rem(75px 81px 73px);
    }
  }

  &__text {
    @include pad(10%);
    color: $white;

    @include susy-media(desktop) {
      @include pad(15%);
    }

    span {
      display: block;
    }

    &__big {
      @include nilland-black;
      font-size: rem(48px);
      line-height: 1.2;

      @include susy-media(desktop) {
        font-size: rem(72px);
      }

      @include susy-media(desktopWide) {
        font-size: rem(96px);
        line-height: .9;
        margin-bottom: rem(6px);
      }
    }

    &__small {
      @include pad(20px);
      font-size: rem(15px);
      text-transform: uppercase;

      @include susy-media(desktopWide) {
        line-height: 1.2;
      }
    }
  }

  &__title {
    margin: rem(0 0 20px);
    text-align: left;
    color: $blue-dark;
    text-transform: uppercase;

    @include susy-media(tabletOnly) {
      font-size: rem(30px);
    }

    @include susy-media(desktop) {
      line-height: 1;
      margin-bottom: rem(13px);
    }

    @include susy-media(desktopWide) {
      margin-bottom: rem(24px);
    }
  }

  &__body {
    text-align: left;
    margin-bottom: rem(10px);
    display: inline-block;

    @include susy-media(desktopWide) {
      margin-bottom: rem(18px);
    }
  }

  &__button {
    margin-bottom: rem(35px);

    @include susy-media(desktop) {
      margin-bottom: rem(30px);
    }

    @include susy-media(desktopWide) {
      margin-bottom: rem(65px);
    }
  }

  &__scrolldown {
    display: inline-block;
    text-align: center;

    &__icon {
      margin-bottom: rem(8px);

      @include susy-media(desktop) {
        margin-bottom: rem(4px);
      }

      @include susy-media(desktopWide) {
        margin-bottom: rem(12px);
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &__text {
      @include faricynew-bold;
      color: $gray-4c;
      font-size: rem(12px);
      text-transform: uppercase;
      display: block;
    }
  }
}
