 .box-media-grid {
  &__list {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    @media screen and (min-width: 769px) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      margin-left: -4px;
      margin-right: -4px;
    }
  }

  &__item {
    margin: 0 0 30px 0;
    padding: 0 4px;
    width:  100%;
  }

  &--3 {
    .box-grid-content.big-img{
      overflow: initial;
    }
  }
 }
 .box-grid-content__img.big-img {
    img {
      width: 262px;
      height: 262px;
      max-width: 262px;
      border-radius: 0 9px 9px 0;
    }
 }
/* box-grid-content */
.box-grid-content {
  border-radius: 9px;
  min-height: 260px;
  position: relative;

  &__group {
    padding: 38px 40px;
    border-radius: 9px 0 0 9px;
  }

  &__infographic {
    @include faricynew-bold;
    color: $gray-66;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 28px;
    color: $gray-33;
    @include faricynew-bold;
    margin-bottom: 40px;
  }

  &__img {
    line-height: 0;

    img {
      width: 100%;
    }
  }
  &__date-time {
    @include faricynew-bold;
    bottom: 40px;
    font-size: 12px;
    position: absolute;
    text-transform: uppercase;
    vertical-align: bottom;
  }
  &--has-icon {
    .box-grid-content__img {
      img {
        width: auto;
      }
    }
    .box-grid-content__img {
      padding: 38px 40px 15px 40px;
    }
    .box-grid-content__group {
      padding-top: 0;
    }
    .icon {
      position: absolute;
      right: 40px;
      bottom: 40px;

      a {
        background-image: url("../images/icon-more.png");
        font-size: 0;
        padding: 10px;
        color: transparent;
        background-repeat: no-repeat;
      }
    }

    &--notimg {
      padding: 38px 40px;

      .box-grid-content__group {
        padding: 0;
      }
    }
  }
}

.box-grid-content.big-img {

  @media screen and (min-width: 460px) {
    display: flex;
    overflow: hidden;
  }
  @media screen and (max-width: 459px) {
      padding-bottom: 75px;
    .box-grid-content__img {
      line-height: 0;
      padding: 0 20px;
      text-align: center;
    }
    .box-grid-content__group {
      padding: 38px 25px 0px 40px !important;
    }
    img {
      width: auto;
      height: 262px;
      max-width: 100%;
      border-radius: 9px;
    }
  }

  .box-grid-content__group {
    padding: 38px 25px 38px 40px;
  }
}

.box-media--link {
  margin: 0 auto rem(30px);
  max-width: rem(555px);
  width: 100%;

  @include susy-media(tablet) {
    margin-bottom: rem(40px);
  }

  @include susy-media(desktop) {
    margin-bottom: rem(80px);
  }

  .button {
    width: 100%;
  }
}
