.page-title {
  @include nilland;
  color: $white;
  position: relative;
  text-transform: uppercase;

  &-wrapper {
    padding: rem(20px 0 15px);
    position: relative;

    &:before {
      background-image: url($image-path + 'bg-page-title.png');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    @include susy-media(tablet) {
      padding: rem(30px 0 25px);
    }

    @include susy-media(desktop) {
      padding: rem(64px 0 59px);
    }
  }
}
