.page-title {
  @include nilland;
  color: $white;
  text-transform: uppercase;

  &-wrapper {
    padding: rem(20px 0 15px);

    @include susy-media(tablet) {
      padding: rem(30px 0 25px);
    }

    @include susy-media(desktop) {
      padding: rem(64px 0 59px);
    }
  }
}
