.stories-select {
  text-align: center;
  margin-bottom: rem(30px);

  @include susy-media(tablet) {
    margin-bottom: rem(45px);
  }

  @include susy-media(desktop) {
    margin-bottom: rem(60px);
  }
}

.chosen-container {
  font-size: rem(24px);
  max-width: rem(555px);
  text-align: left;
  width: 100% !important;
  background-color: $white;
  border-radius: rem(9px);

  .chosen-results {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $gray-c2;
      color: $text-color;
      line-height: rem(24px);
      padding: rem(23px 27px);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  &.chosen-with-drop {
    .chosen-drop {
      box-shadow: none;
    }

    .chosen-single div {
      @extend .icon-angle-up;
    }
  }
}

.chosen-container-single {
  .chosen-single {
    background: $white;
    border-color: $gray-da;
    border-radius: rem(9px);
    box-shadow: none;
    color: $text-color;
    height: rem(71px);
    padding: rem(23px 27px);

    div {
      @extend .icon-angle-down;
      font-size: rem(30px);
      height: auto;
      position: absolute;
      right: rem(31px);
      top: 50%;
      transform: translate(0, -50%);

      &:before {
        @extend %icons;
      }

      b {
        display: none;
      }
    }
  }

  .chosen-drop {
    border-radius: rem(0 0 9px 9px);
    margin-top: 0;
  }
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: $white;
  border: 1px solid $gray-c2;
  box-shadow: none;
}
