$heigh-tile-big-img: 292px;

.tile-big {
  border-radius: 9px;


  &__image {
    height: $heigh-tile-big-img;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      border-radius: 9px 9px 0 0;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .tile-small {
    border-radius: 0 0 9px 9px;
    margin-bottom: 0;
    position: relative;
  }
}
