$width-img: rem(262px);
$heigh-img: rem(262px);
$heigh-tile-big-img: rem(292px);
$heigh-img-mobile: rem(200px);
$tile-selector: '.tile';

.tile-small {
  &.bg--mercury {
    color: $gray-33;
  }
}

.tile {
  &-small,
  &-simple,
  &-big {
    border-radius: rem(9px);
  }

  &__content {
    @extend %flex-column-center;
    height: rem($heigh-img-mobile);
    padding: rem(20px 10px 20px 20px);

    @include susy-media(tablet) {
      padding: rem(32px 20px 34px 37px);
      height: $heigh-img;
    }
  }

  &__title {
    @include faricynew-bold;
    font-size: rem(28px);
  }

  &__subcription {
    @include faricynew-bold;
    font-size: rem(12px);
    text-transform: uppercase;

    a:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    position: relative;

    .tile__subcription {
      padding-right: rem(30px);
    }

    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-simple {
    &__img {
      line-height: 0;
    }

    .icon a {
      background: url($image-path + 'icon-more.png') center center no-repeat scroll transparent;
      float: left;
      height: rem(16px);
      opacity: 0.8;
      text-indent: rem(-9999px);
      width: rem(20px);

      &:hover {
        opacity: 1;
      }
    }
  }

  &-small {
    @extends %clearfix;

    &__image {
      line-height: 0;
      position: relative;
      width: $width-img;
      height: $heigh-img;
      margin: 0 auto;

      @include susy-media(tablet) {
        float: right;
        margin: 0;
      }
    }

    &--image {
      @extend %clearfix;

      #{$tile-selector}__content {
        @include susy-media(tablet) {
          border-radius: rem(9px 0 0 9px);
          float: left;
          width: calc(100% - #{$width-img});
        }
      }
    }
  }

  &-big {
    &__image {
      height: rem($heigh-img-mobile);
      position: relative;
      overflow: hidden;
      line-height: 0;

      @include susy-media(tablet) {
        height: $heigh-tile-big-img;
      }

      img {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: rem(9px 9px 0 0);
        height: 100%;
        margin: 0 auto;
      }
    }

    #{$tile-selector}__title {
      @include susy-media(tablet) {
        font-size: rem(36px);
      }
    }

    #{$tile-selector}__content {
      border-radius: rem(0 0 9px 9px);
    }
  }
}
