$block-video-selector: '.block-video';
$tile-selector: '.tile';

.block-video {
  height: rem(300px);
  position: relative;
  overflow: hidden;
  background-color: $blue-dark;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include susy-media(tablet) {
    height: rem(400px);
  }

  @include susy-media(desktop) {
    height: rem(560px);
  }

  @include susy-media(desktopWide) {
    height: rem(810px);
  }

  .no-touch &.video-ready {
    background-image: none !important;

    #{$block-video-selector}__bg-video {
      display: inline-block;
    }
  }


  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1;

    &:before {
      background-color: rgba($gray-4c, .25);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }

    &:after {
      background-image: url($image-path + 'bg-video-opacity.png');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__container {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    z-index: -5;

    &.active {
      opacity: 1;
      z-index: 4;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  &__content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 3;

    @include susy-media(desktop) {
      width: 75%;
    }

    @include susy-media(desktopWide) {
      margin-top: rem(91px)
    }
  }

  &__text {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: rem(25px);

    @include susy-media(desktop) {
      margin-bottom: rem(35px);
    }

    @include susy-media(desktopWide) {
      margin-bottom: rem(64px);
    }

    &:before {
      background-color: $yellow;
      bottom: 0;
      content: '';
      height: rem(5px);
      left: 0;
      position: absolute;
      right: 0;
      width: rem(30px);
      margin: 0 auto;
    }
  }

  &__title {
    @include faricynew-bold;
    color: $gray-4c;
    font-size: rem(14px);
    margin: rem(0 0 10px);

    @include susy-media(tablet) {
      font-size: rem(16px);
    }

    @include susy-media(desktop) {
      margin-bottom: rem(35px);
    }
  }

  &__subtitle {
    color: $blue;
    font-size: rem(20px);
    margin: rem(0 0 20px);

    @include susy-media(tablet) {
      font-size: rem(36px);
    }

    @include susy-media(desktop) {
      font-size: rem(72px);
      line-height: 1;
    }

    @include susy-media(desktopWide) {
      font-size: rem(128px);
      line-height: rem(112px);
      margin: rem(0 0 38px);
    }
  }

  &__icon {
    @extend .icon-play2;
    color: $blue-dark;
    font-size: rem(48px);
    height: 1em;
    position: relative;
    text-align: center;
    width: 1em;
    display: block;
    text-indent: -999em;
    margin: 0 auto;
    margin-bottom: rem(10px);

    @include susy-media(tablet) {
      font-size: rem(56px);
    }

    @include susy-media(desktop) {
      font-size: rem(68px);
    }

    @include susy-media(desktopWide) {
      margin-bottom: rem(14px);
    }

    &:before {
      @extend %icons;
      text-indent: 0;
      float: left;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__bg-video {
    bottom: 0;
    left: 0;
    width: 100%;
    // min-width: rem($tablet);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    // min-height: rem(300px);
    display: none;


    // Hidden video in touch device.
    .touch & {
      display: none;
    }

    @include susy-media(tablet) {
      // min-height: rem(400px);
      // min-width: rem($desktop);
    }

    @include susy-media(desktop) {
      // min-width: rem($desktop-xxwide);
      // min-height: rem(560px);
    }
  }

  &__play {
    @include faricynew-bold;
    color: $gray-4c;
    display: block;
    font-size: rem(12px);
    text-transform: uppercase;
  }

  &__player {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  &__close-btn {
    color: $white;
    font-size: rem(12px);
    font-weight: 700;
    position: absolute;
    right: rem(15px);
    text-transform: uppercase;
    top: rem(15px);
    z-index: 100;

    &:focus,
    &:visited {
      color: $white;
    }
  }

  &.playing {
    #{$block-video-selector}__icon {
      @extend .icon-pause;
    }
  }

  &-stories {
    height: rem(300px);
    position: relative;
    overflow: hidden;
    margin-bottom: rem(30px);

    @include susy-media(tablet) {
      height: rem(400px);
      margin-bottom: rem(50px);
    }

    @include susy-media(desktop) {
      height: rem(560px);
    }

    @include susy-media(desktopWide) {
      height: rem(609px);
    }

    &:hover {
      #{$block-video-selector}-stories__icon {
        color: $red;
      }
    }

    &.playing {
      #{$block-video-selector}-stories__icon {
        @extend .icon-pause2;
      }
    }

    &__background {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
    }

    &__video {
      bottom: 0;
      left: 0;
      width: 100%;
      min-width: rem($tablet);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      min-height: rem(300px);

      @include susy-media(tablet) {
        min-height: rem(400px);
        min-width: rem($desktop);
      }

      @include susy-media(desktop) {
        min-width: rem($desktop-xxwide);
        min-height: rem(560px);
      }
    }

    &__container {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }

    &__icon {
      @extend .icon-youtube;
      color: rgba(0, 0, 0, .6);
      display: block;
      font-size: rem(70px);
      height: 1em;
      margin: 0 auto;
      position: relative;
      text-align: center;
      text-indent: -999em;
      width: 1em;

      @include susy-media(tablet) {
        font-size: rem(80px);
      }

      @include susy-media(desktop) {
        font-size: rem(90px);
      }

      &:before {
        @extend %icons;
        text-indent: 0;
        float: left;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__player {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);

      @include susy-media(tablet) {
        bottom: rem(161px);
        transform: translate(-50%, 0);
      }
    }

    #{$tile-selector}__content {
      background-color: rgba($blue-dark, .9);
      display: none;
      //height: rem(370px);
      max-width: rem(511px);
      padding-top: rem(34px);
      padding-bottom: rem(35px);
      width: 100%;

      @include susy-media(desktop) {
        display: flex;
      }
    }

    #{$tile-selector}__title {
      font-size: rem(48px);
      line-height: 1;
    }
  }
}
