{% block footer %}
<footer id="footer" class="footer">
  <div class="footer-container container">
    <div class="site-info">
      <div class="copyright">
        © 2016 <a href="#">america's health insurance plans</a>. all rights reserved
      </div>
      <div class="privacy">
        <a href="#">privacy policy</a>
      </div>
    </div>
    <div class="footer-social">
      <ul id="footer-social" class="social">
        <li class="social-item social-item social-item-type-post_type">
          <a href="#" class="icon-facebook">Facebook</a>
        </li>
        <li class="social-item social-item social-item-type-post_type">
          <a href="#" class="icon-twitter">Twitter</a>
        </li>
        <li class="social-item social-item social-item-type-post_type">
          <a href="#" class="icon-youtube-play">Photo</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
