{% block header %}
  <header class="header">
    <div class="header-container container">
      <div class="branding">
        <div class="site-image">
        <a href="http://ashford.local">
        <img alt="Ashford Prime Facts" class="site-logo" src="logo.png">
        </a>
        </div>
        <p class="site-title">
          <a href="http://ashford.local" rel="home">Ashford Prime Facts</a>
        </p>
      </div>

      {% include 'navigation.twig' %}
    </div>
  </header>
{% endblock %}
