{% block header %}
  <header class="header {{navigation}}">
    <div class="header-container container">
      <div class="branding">
        <div class="site-image">
          <a href="/">
            <img alt="AHIP" class="site-logo" src="../logo.png">
          </a>
        </div>
        <p class="site-title">
          <a href="/" rel="home">AHIP</a>
        </p>
      </div>

      {% include 'navigation.twig' %}
    </div>
  </header>
{% endblock %}
