// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

/* blue color */
$blue: #3788d4;
$blue1: #3b5999;
$blue2: #1da1f2;
$blue3: #0076b6;
$blue: #51788d;
$blue-light: #0175ae;

/* black color */
$black: #000;

// White
$white: #fff;

// Silvers
$silver: #ccc;

// Grays
$gray-5b: #5b5b5b;
$gray-65: #65646b;
$gray-89: #898574;
$gray-be: #bebebe;
$gray-c2: #c2c0b8;
$gray-c4: #c4c2b9;
$gray-f4: #f4f3f0;
$gray-f9: #f9edd3;
$gray: #66656c;
$gray-66: #666666;

// Oranges
$orange-f39: #f39f56;
$orange-f3: #f37735;
$orange: #f17735;

// Teals
$teal-dc: #dce4e7;
$teal-f3: #f3f5f6;
$teal: #6bae92;

// Fetas
$feta: #f9fcec;

// Reds
$red: #8c211e;

// Other
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);
$green: #69ac3b;

// Gray.
$gray-4c: #4c4c4e;
$gray-66: #666;
$gray-33: #333;
$gray-da: #dadada;
$gray-e0: #e0e0e0;
$gray-e8: #e8e8e8;

// Black.
$black: #000;

// White.
$white: #fff;

// Blue.
$blue: #58a6cf;
$blue-dark: #0076b6;
$blue-light: #99c5e3;
$blue-darken: #4d67a3;
$blue-lighter: #25a7df;

// Green.
$green: #5da73c;
$green-light: #97cd78;

// Yellow.
$yellow: #fbad18;

// Red.
$red: #cc171e;

// Need review.
$blue-lighter: #5eaed3;
$gray-e2: #e2e2e2;
$orange: #feae25;

// Base colors
$primary-color: $green;
$text-color: $gray-66;

$link-color: $primary-color;
$link-hover: darken($link-color, 15%);
