button,
input[type='submit'] {
  @extend .button;

  &:hover {
    cursor: pointer;
  }
}

.form-textarea,
.form-text {
  @include faricynew-light;
  border-radius: rem(10px);
  border: rem(1px) solid $gray-da;
  color: $text-color;
  font-size: rem(24px);
  margin-bottom: rem(35px);
  padding: rem(20px 29px 21px);
  width: 100%;

  &::-ms-clear {
    display: none;
  }
}

.form-text {
  height: rem(71px);

  &.error {
    border-color: $red;
    color: $text-color;
  }

  &.success {
    border-color: $gray-4c;
    color: $text-color;
  }
}
