.footer {
  @include faricynew-bold;
  background-image: url($image-path + 'bg-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: rem(12px);
  padding: rem(25px 0);
  z-index: 9;

  @include susy-media(tablet) {
    padding: rem(47px 0 50px);
    height: rem(129px);
  }

  &.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
  }

  .site-info {
    margin-bottom: rem(10px);
    text-transform: uppercase;

    @include susy-media(tablet) {
      width: 77%;
      float: left;
      margin-top: rem(8px);
      margin-bottom: 0;
    }
  }

  .footer-social {
    @include susy-media(tablet) {
      text-align: right;
      float: left;
      width: 23%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        margin-left: rem(7px);
      }
    }

    a {
      background: $blue-darken;
      border-radius: 50%;
      color: $white;
      display: block;
      font-size: 0;
      height: rem(32px);
      line-height: rem(32px);
      text-align: center;
      text-indent: -999em;
      width: rem(32px);

      &.twitter {
        background-color: $blue-lighter;
      }

      &.youtube {
        background-color: $red;
      }

      &:before {
        vertical-align: middle;
        font-size: rem(20px);
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-container {
    @extend %clearfix;
  }

  .copyright {
    margin-bottom: rem(10px);

    @include susy-media(tablet) {
      @include span(6 of 12);
      margin-bottom: 0;
    }
  }

  .privacy {
    @include susy-media(tablet) {
      @include span(6 of 12 last);
      text-align: right;
    }
  }
}
