header {
  min-height: rem(50px);
  position: relative;

  @include susy-media(desktop) {
    min-height: rem(90px);
  }
}

.header-container {
  @extend %clearfix;
  padding: rem(12px 0);

  @include susy-media(desktop) {
    padding: 0;
  }
}

.branding {
  max-width: 100%;
  margin-right: rem(60px);

  @include susy-media(desktop) {
    display: inline-block;
    margin: 0;
    padding: 23px 0;
    vertical-align: middle;
    width: 25%;
  }

  .site-title {
    @extend .visuallyhidden;
  }
}

.site-image {
  text-align: center;

  @include susy-media(desktop) {
    text-align: left;
  }

  a {
    display: block;
    line-height: 0;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

// Navigation && Serch form
.branding-bottom {
  transition: left 0.5s ease;
  background-color: $white;
  bottom: 0;
  height: 100%;
  left: 100%;
  overflow-y: auto;
  padding: rem(10px 15px);
  position: fixed;
  top: 0;
  z-index: 1;

  .box-search {
    padding: 10px 0;
  }

  @include susy-media(desktop) {
    background-color: transparent;
    display: inline-block !important;
    float: right;
    left: 0 !important;
    overflow: visible;
    padding: 0;
    position: static;
    text-align: right;
    vertical-align: middle;
    width: auto !important;
  }
}

.block-title {
  font-size: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
