// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include faricynew-light;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  line-height: $base-line-height;
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  -webkit-overflow-scrolling: touch;
  font-size: 22px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  text-size-adjust: none;
  transition: left 0.5s ease;
  width: 100%;

  &:before {
    transition: opacity 1s;
    opacity: 1;
  }

  &.show-menu:before {
    transition: opacity 1s;
    background-color: $gray-33;
    content: '';
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &.hide-menu {
    left: 0 !important;
  }

  @include susy-media(desktop) {
    left: 0 !important;

    &:before {
      background-color: transparent !important;
      content: '';
      height: 0 !important;
      visibility: hidden;
      width: 0 !important;
      z-index: -1 !important;
    }
  }
}
