// Toggle Navigation
.navbar-toggle {
  background-color: transparent;
  border: 0;
  color: $link-color;
  cursor: pointer;
  display: block;
  height: 22px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 35px;
  width: 26px;
  z-index: 1;

  @include susy-media(tablet) {
    right: 31px;
    top: 37px;
  }

  @include susy-media(desktop) {
    display: none !important;
  }

  span {
    display: block;
    height: 100%;
    line-height: 23px;
    text-align: center;
    text-indent: -999em;
    width: 100%;

    &:before {
      display: block;
      float: left;
      font-size: rem(30px);
      height: 100%;
      line-height: 23px;
      text-indent: 0;
      width: 100%;
    }
  }
}

// Main navigation
#primary-menu {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  li.menu-item {
    list-style: none;
    position: relative;

    &.current-menu-item,
    &.current-menu-parent {
      > a {
        color: $link-hover !important;
      }
    }

    a {
      color: $link-color;
      display: block;
      font-size: rem(14px);
      padding: 15px 0;
      text-transform: uppercase;

      &:hover {
        color: $link-hover;
        text-decoration: none;
      }
    }
  }

  > li.menu-item {
      border: none !important;
      float: left;

      &:last-of-type {
        margin-right: 0;
      }

      > a {
        text-transform: uppercase;
        padding: 35px 30px 36px;
      }
    }

  @include susy-media(desktop) {
    li.menu-item {
      position: relative;

      a {
        font-size: rem(13px);
        margin-right: 0 !important;

        &:hover {
          background-color: $blue-light;
          color: $white;
          text-decoration: none;
        }
      }

      &.active {
        > a {
          background-color: $blue-light;
          color: $white;
        }
      }
    }
  }
}

// Second navigation
#secondary-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;

  li {
    display: inline-block;
    padding: 0 29px;

    a {
      color: $white;
    }
  }
}

.navigation-full {
  background-color: $green;
  text-align: center;
  padding: 34px 0;
}
