// Toggle Navigation
.navbar-toggle {
  background-color: transparent;
  border: 0;
  color: $blue-dark;
  cursor: pointer;
  display: block;
  height: rem(22px);
  margin: 0;
  padding: 0;
  position: absolute;
  right: rem(31px);
  text-align: center;
  top: rem(21px);
  width: rem(26px);
  z-index: 1;

  @include susy-media(desktop) {
    display: none !important;
  }

  &:hover,
  &:active,
  &:focus {
    color: $blue-dark;
    background-color: transparent;
    outline: none;
  }

  span {
    display: block;
    height: 100%;
    line-height: 23px;
    text-align: center;
    text-indent: -999em;
    width: 100%;

    &:before {
      display: block;
      float: left;
      font-size: rem(30px);
      height: 100%;
      line-height: 23px;
      text-indent: 0;
      width: 100%;
    }
  }
}

.ahip-menu {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  li.menu-item {
    border-top: 1px solid $gray-da;
    list-style: none;
    position: relative;

    a {
      color: $blue-dark;
      display: block;
      padding: rem(15px 0);

      &:hover {
        color: darken($blue-dark, 15%);
        text-decoration: none;
      }
    }
  }

  > li.menu-item {
    &:first-of-type {
      border-top: 0;
    }
  }

  @include susy-media(desktop) {
    li.menu-item {
      position: relative;

      &.active {
        > a {
          color: $link-color;
        }
      }

      a {
        color: $link-color;
        padding: rem(0 15px);

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }

    > li.menu-item {
      border: none !important;
      float: left;

      > a {
        color: $text-color;
        padding: rem(39px 30px 32px);
        text-transform: uppercase;

        &:hover {
          color: $white;
          background-color: $blue-dark;
        }
      }
    }
  }
}

.navigation-full {
  padding: rem(12px 0);
  position: relative;

  @include susy-media(desktop) {
    background-color: $green;
    padding: rem(27px 0);
    text-align: center;
  }

  .branding {
    text-align: left;

    @include susy-media(desktop) {
      display: none;
    }
  }

  .branding-bottom {
    @include susy-media(desktop) {
      float: none;
      text-align: center;
      width: 100% !important;
    }
  }

  .ahip-menu {
    li.menu-item {
      @include susy-media(desktop) {
        display: inline-block;
        float: none;
        padding: rem(0 26px);

        a {
          color: $white;
          padding: 0;

          &:hover {
            background-color: transparent;
            color: darken($white, 10%);
          }
        }
      }
    }
  }
}
