// Helper classes

.bg {
  &--white {
    background-color: $white;
  }

  &--blue-dark {
    background-color: $blue-dark;
  }

  &--blue {
    background-color: $blue;
  }

  &--green {
    background-color: $green;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--blue-light {
    background-color: $blue-light;
  }

  &--green-light {
    background-color: $green-light;
  }

  &--mercury {
    background-color: $gray-e8;
  }

  &-blue {
     background-color: $blue1;
  }
  &-blue-light {
    background-color: $blue2;
  }
  &--alto {
    background-color: $gray-e0;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// %icons {
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   display: inline-block;
//   font-size: inherit;
//   font: normal normal normal 14px/1 FontAwesome;
//   text-rendering: auto;
// }

// [class^='icon-'],
// [class*=' icon-'] {
//   &:before {
//     @extend %icons;
//   }
// }

// .icon-facebook:before {
//   content: '\f09a';
// }

// .icon-twitter:before {
//   content: '\f099';
// }

// .icon-youtube-play:before {
//   content: '\f16a';
// }
